.desktop-hide {
  display: none;
}

.centered-text {
  text-align: center;
}

/* Contact page styles */
.contact-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--bg-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.contact-icon {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
  object-fit: contain;
}

.contact-header {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.contact-text p {
  margin: 0;
  line-height: 1.5;
  color: var(--text-color);
  font-weight: 500;
}

/* Contact form styles */
.contact-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.contact-form label {
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 0.75rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--light-text);
  font-weight: 300;
}

.contact-form textarea {
  resize: vertical;
  min-height: 7rem;
}

.contact-form .cta-button {
  align-self: stretch;
  padding: 0.6rem 1rem;
  width: 100%;
}

/* Responsive design for mobile devices for home page */
@media (max-width: 1024px) {
  .contact-item {
    padding: 0.9rem;
    margin-top: 0.75rem;
  }
  .contact-icon {
    width: 2.5rem;
  }
}

@media (max-width: 480px) {
  .desktop-hide {
    display: inherit;
  }

  .mobile-container {
    flex-direction: column;
    margin-top: 3.5rem;
  }

  h2.contact-header {
    font-size: 1.75rem;
  }

  .contact-item {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .contact-item img {
    width: 3rem;
    height: auto;
  }

  .contact-text {
    padding-left: 0.75rem;
  }

  .contact-text h4 {
    font-size: 1.25rem;
  }

  .contact-text p {
    font-size: 1.125rem;
  }

  .contact-form label,
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
  }

  .contact-form .cta-button {
    height: auto;
    border-radius: 0.3125rem;
    font-size: 1rem;
  }
}
