.unused-button {
  display: none;
}

.desktop-hide {
  display: none;
}

.centered-text {
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.row {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
}

/* Portfolio Button Section */
.portfolio-section {
  margin-top: 5vw;
}

.center-button {
  text-align: center;
}

.center-button button {
  margin-top: 0;
}

/* Portfolio Cards */
.card {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.image-container {
  flex: 1;
  overflow: hidden;
}

.project-header {
  flex: 1;
  padding: 1rem;
}

.project-header h3 {
  font-size: 1.25rem;
}

.project-header p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.9rem;
  margin-bottom: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 0.55vw 0.55vw 0 0;
}

/* Responsive design for mobile devices for home page */
@media (max-width: 1024px) {
  .section-container {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .project-header {
    padding: 0.9rem;
  }
}

@media (max-width: 480px) {
  .mobile-container {
    flex-direction: column;
    gap: 1.25rem;
  }

  .desktop-hide {
    display: inherit;
  }

  .section-container {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .project-header {
    padding: 1.25rem;
  }

  .project-header h3 {
    font-size: 1.25rem;
  }

  .project-header p {
    font-weight: 300;
  }

  .project-image {
    height: 10rem;
  }
}
