/* Responsive design for mobile devices */
@media (max-width: 480px) {
  body {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  header {
    padding: 1vw 2vw;
  }

  .logo {
    width: 10vw;
  }

  h1 {
    font-size: 3vw;
  }

  .about-list li {
    font-size: 13px;
    padding-left: 20px;
  }

  .about-list li::before {
    font-size: 14px;
  }

  .contact-item {
    flex-direction: column;
    text-align: center;
  }

  .contact-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .contact-form {
    max-width: none;
    padding: 10px;
    width: 100%;
    margin-left: 0;
  }
}
