.centered-text {
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.row {
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
  display: flex;
}

.card {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding: 1.38vw;
  border-radius: 0.55vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.card h2 {
  color: var(--text-color);
  font-size: 1.5vw;
}

.card p {
  font-size: 1vw;
  line-height: 1.5;
  color: #666;
  margin-top: 2vw;
  margin-bottom: 0.7vw;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7vw;
}

.card-icon {
  width: 3vw;
  height: auto;
  object-fit: contain;
}
