.desktop-hide {
  display: none;
}

.centered-text {
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  display: flex;
}

.card {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

.card h2 {
  color: var(--text-color);
  font-size: 1.25rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-icon {
  width: 3rem;
  height: auto;
  object-fit: contain;
}

/* Responsive design for mobile devices for home page */
@media (max-width: 1024px) {
  .card {
    padding: 0.9rem;
  }
  .card p {
    margin-top: 0.75rem;
  }
}

@media (max-width: 480px) {
  .mobile-container {
    flex-direction: column;
  }

  .desktop-hide {
    display: inherit;
  }

  h1 {
    margin-top: 8.75rem;
    font-size: 2.25rem;
  }

  p {
    font-size: 1.125rem;
  }

  .card {
    padding: 1.25rem;
    margin-top: 0.75rem;
    display: flex;
  }

  .card-header {
    flex-direction: column;
  }
  .card-header h2 {
    font-size: 1.25rem;
  }

  .card-header img {
    width: 3rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
  }
}
